@page "/fetchPage"
@using global::UI.Service.Responses
@using global::UI.Service.Interfaces
@inject IAuthService _service;
<h3>FetchPage</h3>

@if (User is null)
{
    <button type="button" @onclick="SetResponse">Load</button>
    <p>Loading</p>
}
else
{
    
    {
        <p>name: @User.UserName</p>
        <p>email: @User.Email</p>
    }
}




@code {

    private MyUser User;

    private async Task<MyUser> GetUser()
    {
        var response = await _service.GetAsync();

        if (response.Success)
            return response.Content;
        else
        {
            return null;
        }
    }

    private async void SetResponse()
    {
        User = await GetUser();
        StateHasChanged();
    }

}

