@page "/mypage"
@using global::UI.Service.Responses
@using global::UI.Service.Interfaces
@using Microsoft.AspNetCore.Authorization
@inject IAuthService _service;
@attribute [Authorize]
<h3>MyPage</h3>
@if (User is not null)
{
    <p>@User.Id</p>
    <p>@User.UserName</p>
    <p>@User.Email</p>
    <p>@User.Balance</p>
}

@code {
    public MyUser User;

    protected override async void OnInitialized()
    {

        var response =  await _service.GetAsync();

        if (response.Success)
        {
            User = (response as GetResponse).Content;
        }
        StateHasChanged();
    }

}