/* /Pages/Login.razor.rz.scp.css */
body[b-4lzjfqoeor] {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form[b-4lzjfqoeor] {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 700px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.title[b-4lzjfqoeor] {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtitle[b-4lzjfqoeor] {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container[b-4lzjfqoeor] {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1[b-4lzjfqoeor] {
    margin-top: 40px;
}

.ic2[b-4lzjfqoeor] {
    margin-top: 30px;
}

.ic3[b-4lzjfqoeor] {
    margin-top: 50px;
}

.input[b-4lzjfqoeor] {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut[b-4lzjfqoeor] {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short[b-4lzjfqoeor] {
    width: 50px;
}

.cut-long[b-4lzjfqoeor] {
    width: 120px;
}

.input:focus ~ .cut[b-4lzjfqoeor],
.input:not(:placeholder-shown) ~ .cut[b-4lzjfqoeor] {
    transform: translateY(8px);
}

.placeholder[b-4lzjfqoeor] {
    color: #f2fbf3;
    background-color: #303245;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder[b-4lzjfqoeor],
.input:not(:placeholder-shown) ~ .placeholder[b-4lzjfqoeor] {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder[b-4lzjfqoeor] {
    color: #808097;
}

.input:focus ~ .placeholder[b-4lzjfqoeor] {
    color: #dc2f55;
}

.submit[b-4lzjfqoeor] {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
// outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active[b-4lzjfqoeor] {
    background-color: #06b;
}
/* /Pages/Register.razor.rz.scp.css */
body[b-crdag9v5t5] {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form[b-crdag9v5t5] {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 700px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.title[b-crdag9v5t5] {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtitle[b-crdag9v5t5] {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container[b-crdag9v5t5] {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1[b-crdag9v5t5] {
    margin-top: 40px;
}

.ic2[b-crdag9v5t5] {
    margin-top: 30px;
}

.ic3[b-crdag9v5t5] {
    margin-top: 50px;
}

.input[b-crdag9v5t5] {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut[b-crdag9v5t5] {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short[b-crdag9v5t5] {
    width: 50px;
}

.cut-long[b-crdag9v5t5] {
    width: 120px;
}

.input:focus ~ .cut[b-crdag9v5t5],
.input:not(:placeholder-shown) ~ .cut[b-crdag9v5t5] {
    transform: translateY(8px);
}

.placeholder[b-crdag9v5t5] {
    color: #f2fbf3;
    background-color: #303245;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder[b-crdag9v5t5],
.input:not(:placeholder-shown) ~ .placeholder[b-crdag9v5t5] {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder[b-crdag9v5t5] {
    color: #808097;
}

.input:focus ~ .placeholder[b-crdag9v5t5] {
    color: #dc2f55;
}

.submit[b-crdag9v5t5] {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
// outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active[b-crdag9v5t5] {
    background-color: #06b;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-v226h684v7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-v226h684v7] {
    flex: 1;
}

.sidebar[b-v226h684v7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-v226h684v7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-v226h684v7]  a, .top-row[b-v226h684v7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-v226h684v7]  a:hover, .top-row[b-v226h684v7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-v226h684v7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-v226h684v7] {
        display: none;
    }

    .top-row.auth[b-v226h684v7] {
        justify-content: space-between;
    }

    .top-row[b-v226h684v7]  a, .top-row[b-v226h684v7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-v226h684v7] {
        flex-direction: row;
    }

    .sidebar[b-v226h684v7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-v226h684v7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-v226h684v7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-v226h684v7], article[b-v226h684v7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-h1hcfmdrah] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-h1hcfmdrah] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-h1hcfmdrah] {
    font-size: 1.1rem;
}

.oi[b-h1hcfmdrah] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-h1hcfmdrah] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-h1hcfmdrah] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-h1hcfmdrah] {
        padding-bottom: 1rem;
    }

    .nav-item[b-h1hcfmdrah]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-h1hcfmdrah]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-h1hcfmdrah]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-h1hcfmdrah] {
        display: none;
    }

    .collapse[b-h1hcfmdrah] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-h1hcfmdrah] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
